
<div class="columns-1">
  <%= for post <- @posts do %>
  <div>
    <a href={~p"/blog/#{post.slug}"}>
      <%= post.title %>
    </a>

    <span><%= ui_time(post.published_at) %></span>
    </div>
  <% end %>
</div>